<div class="main cc">
<pre class="pact" readonly="readonly">
ThinkPHP通用后台使用协议
本通用后台为 <b><a href="http://weibo.com/ybyq2010" target="_blank">@_永不言弃_</a></b> 为QQ群：102577846 群友学习参考用，其中没有做过多数据过滤完全考虑和界面兼容处理，如果你将本通用后台使用于你自己的系统中，请自行处理（不过不会有太多的问题）。
<b>Easy-Admin</b>
简单易容，功能专一的博客，企业站等小型网站后台管理系统—基于ThinkPHP3.2.1
<b>系统说明</b>
<p>Easy-Admin就如其名，它就是为你提供最方便的后台数据管理，而且提供简介易用的管理界面。Easy-Admin和一般CMS系统最大的区别在于，前者只专业于后台数据管理，而后者则前后端兼顾。简而言之，Easy-Admin能够帮你轻松搞定数据的CURD、权限管理和数据库管理。手头有企业站或者需要自搭博客的小伙伴们别错过咯～</p>

<b>** 基本功能 **</b>

<b>* 数据模型 *</b>
<p>快速创建数据模型</p>
<p>自动生成CURD管理</p>
<p>数据自动验证</p>
<p>可自定义数据自动填充函数</p>

<b>* 数据库 *</b>
<p>数据表关联</p>
<p>数据库备份</p>
<p>数据库恢复</p>
<p>数据库优化</p>
<p>字段管理</p>

<b>* 快速的安装向导 *</b>
你只需 下一步 -&gt; 下一步 -&gt; 完成， O(∩_∩)O~。

<b>* 其他 *</b>
<p>权限管理</p>
<p>可自定制的表单域</p>
<p>系统缓存管理</p>
<p>友好的数据操作界面</p>
<p>灵活的可用的扩展</p>

<b>** 补充说明 ** </b>
1. 本系统的**页面模板**来源于 @leohdr 的[PHP-Amateur_Common_System](https://github.com/leohdr/PHP-Amateur_Common_System)，在此感谢 @leohdr 兄的分享
2. 由于使用本后台系统出现任何安全问题、数据文件等问题与本人无关，请考虑后使用
</pre>
</div>

<div class="bottom tac">
    <a href="{:U('CheckEnv/index')}" class="btn">接 受</a>
</div>
