<div id="Top">
    <div class="logo">
        <a href="http://localhost/common_system/"><img src="/common_system/Admin/Tpl/Public/Img/logo.gif" />
        </a>
    </div>

    <div class="help">
        <a href="#">使用帮助</a><span><a href="#">关于</a></span>
    </div>

    <div class="menu">
        <ul>
            <li class="fisrt_current"><span><a href="/common_system/system.php/Index/index">首页</a></span></li>
            <li class=""><span><a href="/common_system/system.php/Index/index">数据模型</a></span></li>
            <li class="end_current"><span><a href="/common_system/system.php/Index/index">阿斯达阿里云</a></span></li>
        </ul>
    </div>
</div>

<div id="Tags">
    <div class="userPhoto"><img src="/common_system/Admin/Tpl/Public/Img/userPhoto.jpg" /> </div>
    <div class="navArea">
        <div class="userInfo">
            <div>
                <a href="/common_system/system.php/Webinfo/index" class="sysSet"><span>&nbsp;</span>系统设置</a>
                <a href="/common_system/system.php/Public/loginOut" class="loginOut"><span>&nbsp;</span>退出系统</a>
            </div>
                欢迎您，543438708@qq.com | <a href="#">个人信息管理</a> | <a href="#">个人信息管理</a> | <a href="#">个人信息管理</a>
        </div>
        <div class="nav">
            <font id="today">2014-02-25 11:10:08</font>
            您的位置：网站管理 > 系统信息
        </div>
    </div>
</div>

<div class="clear"></div>
