<div id="Left">
    <div id="control" class=""></div>
    <div class="subMenuList">
        <div class="itemTitle">
            常用操作
        </div>
        <ul>
            <li><a href="/common_system/system.php/Index/myInfo">修改密码</a></li>
            <li><a href="/common_system/system.php/Index/cache">缓存清理</a></li>
            <li><a href="/common_system/system.php/News/add">新闻发布</a></li>
        </ul>
    </div>

    <div class="QRcode">
        移动设备访问本页：<br/><br/>
        <img src="http://localhost/common_system//Uploads/QRCode/66180a7263f13abc_80.png"/>
    </div>
</div>
