<div class="contentArea">
    <div class="Item hr">
        <div class="current">修改账号密码</div>
    </div>
    <form action="" method="post">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
            <tr>
                <th width="120">当前账号：</th>
                <td><input disabled="disabled" name="email" type="text" class="input" size="40" value="{$my_info.email}" /></td>
            </tr>
            <tr>
                <th>现密码：</th>
                <td><input class="input" name="pwd0" type="password" size="40" value="" /></td>
            </tr>
            <tr>
                <th>新密码：</th>
                <td><input class="input" name="pwd" type="password" size="40" value="" /></td>
            </tr>
            <tr>
                <th>确认密码：</th>
                <td><input class="input" name="pwd1" type="password" size="40" value="" /></td>
            </tr>
        </table>
    </form>
    <div class="commonBtnArea" >
        <button class="btn submit">提交</button>
    </div>
</div>