<div class="Item hr">
    <div class="current">缓存管理</div>
</div>
<form>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
        <thead>
            <tr>
                <td style="text-align: left;" colspan="4"><label><input name="" class="chooseAll" type="checkbox"/> 全选</label>&nbsp;&nbsp;&nbsp;&nbsp; <label><input name="" class="unsetAll" type="checkbox"/> 反选</label></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['Admincache']}" /></td>
                <td>后台缓存文件<br/> ({$caches['Admincache']})</td>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['Admindata']}" /></td>
                <td>后台数据库字段缓存文件<br/> ({$caches['Admindata']})</td>
            </tr>
            <tr>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['Adminlogs']}" /></td>
                <td>后台日志缓存文件<br/> ({$caches['Adminlogs']})</td>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['Admintemp']}" /></td>
                <td>网站后台临时缓存文件<br/> ({$caches['Admintemp']})</td>
            </tr>
            <tr>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['Adminruntime']}" /></td>
                <td>后台runtime.php缓存文件<br/> ({$caches['Adminruntime']})</td>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['Homecache']}" /></td>
                <td>前台缓存文件<br/> ({$caches['Homecache']})</td>
            </tr>
            <tr>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['Homedata']}" /></td>
                <td>前台数据库字段缓存文件<br/> ({$caches['Homedata']})</td>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['Homelogs']}" /></td>
                <td>前台日志缓存文件<br/> ({$caches['Homelogs']})</td>
            </tr>
            <tr>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['Hometemp']}" /></td>
                <td>网站前台临时缓存文件<br/> ({$caches['Hometemp']})</td>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['Homeruntime']}" /></td>
                <td>前台runtime.php缓存文件<br/> ({$caches['Homeruntime']})</td>
            </tr>
            <tr>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['MinFiles']}" /></td>
                <td>JS/CSS压缩缓存文件<br/> ({$caches['MinFiles']})</td>
                <td width="30" align="center"></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"><label><input name="" class="chooseAll" type="checkbox"/> 全选</label>&nbsp;&nbsp;&nbsp;&nbsp; <label><input name="" class="unsetAll" type="checkbox"/> 反选</label></td>
            </tr>
        </tfoot>
    </table>
</form>
<div class="commonBtnArea" >
    <button class="btn submit">清除已选缓存</button>
</div>

<script type="text/javascript">
$(function(){
    clickCheckbox();
    $(".submit").click(function(){
        if($("tbody input[type='checkbox']:checked").size()==0){
            popup.alert("请先选择要删除的缓存！");
            return false;
        }

        commonAjaxSubmit("{:U('Cache/delete')}");
    });
});
</script>
