<div class="Item hr">
    <div class="current">缓存管理</div>
</div>
<form>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
        <thead>
            <tr>
                <td style="text-align: left;" colspan="4"><label><input name="" class="chooseAll" type="checkbox"/> 全选</label>&nbsp;&nbsp;&nbsp;&nbsp; <label><input name="" class="unsetAll" type="checkbox"/> 反选</label></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['cache']}" /></td>
                <td>后台缓存文件<br/> ({$caches['cache']})</td>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['data']}" /></td>
                <td>后台数据库字段缓存文件<br/> ({$caches['data']})</td>
            </tr>
            <tr>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['logs']}" /></td>
                <td>后台日志缓存文件<br/> ({$caches['logs']})</td>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['temp']}" /></td>
                <td>网站后台临时缓存文件<br/> ({$caches['temp']})</td>
            </tr>
            <tr>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['runtime']}" /></td>
                <td>后台runtime.php缓存文件<br/> ({$caches['runtime']})</td>
                <td width="30" align="center"><input type="checkbox" name="caches[]" value="{$caches['MinFiles']}" /></td>
                <td>JS/CSS压缩缓存文件<br/> ({$caches['MinFiles']})</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"><label><input name="" class="chooseAll" type="checkbox"/> 全选</label>&nbsp;&nbsp;&nbsp;&nbsp; <label><input name="" class="unsetAll" type="checkbox"/> 反选</label></td>
            </tr>
        </tfoot>
    </table>
</form>
<div class="commonBtnArea" >
    <button class="btn submit">清除已选缓存</button>
</div>

<script type="text/javascript">
$(function(){
    clickCheckbox();
    $(".submit").click(function(){
        if($("tbody input[type='checkbox']:checked").size()==0){
            popup.alert("请先选择要删除的缓存！");
            return false;
        }

        commonAjaxSubmit('__URL__/delete');
    });
});
</script>
