<div class="Item hr">
    <div class="current">添加模型</div>
</div>
<form>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
        <tr>
            <th width="100">模型名称：</th>
            <td><input id="model_name" type="text" class="input" size="20" name="model[name]" value="{$model['name']}" /> <a href="javascript:void(0)" id="check_model_name">检测是否可用</a>（用于在主菜单和子菜单上显示，不能包含特殊字符）</td>
        </tr>
        <tr>
            <th width="100">数据表名：</th>
            <td><input id="tbl_name" type="text" class="input" size="20" name="model[tbl_name]" value="{$model['tbl_name']}" /> <a href="javascript:void(0)" id="check_tal_name">检测是否可用</a>（存放该模型的数据表名称，只能由"_"、a~z组成）</td>
        </tr>
        <tr>
            <th width="100">主菜单名：</th>
            <td><input id="menu_name" type="text" class="input" size="20" name="model[menu_name]" value="{$model['menu_name']}" /> <a href="javascript:void(0)" id="check_menu_name">检测是否可用</a>（用于在主菜单和子菜单上显示）</td>
        </tr>
        <tr>
            <th>模型描述：</th>
            <td><textarea id="content" class="input" style="height: 80px; width: 50%;" name="model[description]" placeholder="模型的注释，同时也会作为表的注释">{$model['description']}</textarea></td>
        </tr>
        <input type="hidden" name="model[id]" value="{$model['id']}" />
    </table>
</form>
<div class="commonBtnArea" >
    <button class="btn submit">提交</button>
</div>

<include file="Models/javascript" />
<script type="text/javascript">
$(function(){
    submitForm("update");
});
</script>
