<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>重置密码 - {:C('SITE_TITLE')}</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Min/?f=__PUBLIC__/stylesheets/admin/base.css|__PUBLIC__/javascripts/admin/asyncbox/skins/default.css" />
</head>

<body class="loginWeb">
    <div class="loginBox">
        <div class="innerBox">
            <div class="logo"> <img src="__PUBLIC__/images/admin/logo.gif" /></div>
            <form>
                <div class="loginInfo">
                    <p align="center">您正在重置：{$admin.email} 的密码</p>
                    <ul>
                        <li class="row1">新密码：</li>
                        <li class="row2"><input class="input" name="password" id="pwd" size="30" type="password" /></li>
                    </ul>
                    <ul>
                        <li class="row1">再次输入：</li>
                        <li class="row2"><input class="input" name="cfm_password" id="pwd1" size="30" type="password" /></li>
                    </ul>
                </div>
                <input type="hidden" name="hash" value="{$hash}" />
            </form>
            <div class="clear"></div>
            <div class="operation"><button class="btn submit">确认重置</button>
        </div>
    </div>

    <include file="Common/javascripts" />
    <script type="text/javascript">
        $(function(){
            $(".submit").click(function(){
                if($("#pwd").val()==''||$("#pwd1").val()==''||$("#verify_code").val()==''){
                    popup.alert("请先填写完整的信息！");
                    return false;
                }
                if($("#pwd").val()!=$("#pwd1").val()){
                    popup.alert("两次输入的密码不一致");
                    return false;
                }
                commonAjaxSubmit("{:U('Public/resetPassword')}");
            });
        });
    </script>
</body>
</html>
