<div class="Item hr">
    <div class="current">添加模型</div>
</div>
<form>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
        <tr>
            <th width="100">模型名称：</th>
            <td><input id="model_name" type="text" class="input" size="20" name="model[name]" value="{$model['name']}" /> <a href="javascript:void(0)" id="check_model_name">检测是否可用</a>（用于在主菜单和子菜单上显示，不能包含特殊字符）</td>
        </tr>
        <tr>
            <th width="100">数据表名：</th>
            <td><input id="tbl_name" type="text" class="input" size="20" name="model[tbl_name]" value="{$model['tbl_name']}" /> <a href="javascript:void(0)" id="check_tal_name">检测是否可用</a>（存放该模型的数据表名称，只能由"_"、a~z、0~9组成）</td>
        </tr>
        <tr>
            <th>模型描述：</th>
            <td><textarea id="content" class="input" style="height: 80px; width: 50%;" name="model[description]">{$model['description']}</textarea></td>
        </tr>
        <input type="hidden" name="model[id]" value="{$model['id']}" />
    </table>
</form>
<div class="commonBtnArea" >
    <button class="btn submit">提交</button>
</div>

<script type="text/javascript">
$(function(){
    $(".submit").click(function(){
        if ("" == $("#model_name").val().trim()) {
            popup.alert("模型名称不能为空");
            return false;
        } else if ("" == $("#tbl_name").val().trim()) {
            popup.alert("数据表名称不能为空");
            return false;
        }

        commonAjaxSubmit("__URL__/update");
        return false;
    });

    $("#check_model_name").click(function(){
        $.getJSON("__URL__/checkModelName/id/{$model['id']}", { model_name: $("#model_name").val() }, function(json){
            $("#check_model_name").css("color",json.status==1?"#0f0":"#f00").html(json.info);
        });
    });

    $("#check_tal_name").click(function(){
        $.getJSON("__URL__/checkTblName/id/{$model['id']}", { tbl_name:$("#tbl_name").val()}, function(json){
            $("#check_tal_name").css("color",json.status==1?"#0f0":"#f00").html(json.info);
        });
    });
});
</script>
