<script type="text/javascript">
function submitForm(action) {
    $(".submit").click(function(){
        if ("" == $("#model_name").val().trim()) {
            popup.alert("模型名称不能为空");
            return false;
        } else if ("" == $("#tbl_name").val().trim()) {
            popup.alert("数据表名称不能为空");
            return false;
        }

        commonAjaxSubmit("__URL__/" + action);
        return false;
    });
}

$(function(){
    $("#check_model_name").click(function(){
        $.getJSON("__URL__/checkModelName/id/{$model['id']}", { model_name: $("#model_name").val() }, function(json){
            $("#check_model_name").css("color",json.status==1?"#0f0":"#f00").html(json.info);
        });
    });

    $("#check_tal_name").click(function(){
        $.getJSON("__URL__/checkTblName/id/{$model['id']}", { tbl_name:$("#tbl_name").val()}, function(json){
            $("#check_tal_name").css("color",json.status==1?"#0f0":"#f00").html(json.info);
        });
    });
});
</script>
