<div class="Item hr">
    <div class="current">模型基本信息</div>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
    <tr>
        <th width="100">模型名称：</th>
        <td>{$model['name']}</td>
    </tr>
    <tr>
        <th width="100">数据表名：</th>
        <td>{$model['tbl_name']}</td>
    </tr>        
    <tr>
        <th width="100">是否为内部表：</th>
        <td><if condition="$model['is_inner'] == 1">是<else/>否</if></td>
    </tr>
    <tr>
        <th width="100">字段数：</th>
        <td>{$model['fields_count']}</td>
    </tr>
    <tr>
        <th width="100">记录行数：</th>
        <td>{$model['rows']}</td>
    </tr>
    <tr>
        <th>模型描述：</th>
        <td>{$model['description']}</td>
    </tr>
</table>

<div class="Item hr">
    <div class="current">模型字段信息</div>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
    <thead>
        <tr>
            <td width="90"><label><input name="" class="chooseAll" type="checkbox"/> 全选</label> <label><input name="" class="unsetAll" type="checkbox"/> 反选</label></td>
            <td>字段名称</td>
            <td>字段标识符</td>
            <td>字段类型</td>
            <td>字段操作</td>
        </tr>
    </thead>
    <tbody>
        <volist name="model['fields']" id="field">
        <tr align="center">
            <td><input type="checkbox" name="table[]" value="pa_role"/></td>
            <td>{$field['name']}</td>
            <td>{$field['title']}</td>
            <td>{$field['type']}</td>
            <td>[ <a href="">编辑</a> ] [ <a href="" name="orders_admins" class="del">删除</a> ]</td>
        </tr>
        </volist>
    </tbody>
    <tfoot align="center">
        <tr>
            <td width="90"><label><input name="" class="chooseAll" type="checkbox"/> 全选</label> <label><input name="" class="unsetAll" type="checkbox"/> 反选</label></td>
            <td>字段名称</td>
            <td>字段标识符</td>
            <td>字段类型</td>
            <td>字段操作</td>
        </tr>
    </tfoot> 
</table>
<div class="commonBtnArea" >
    <button class="btn submit">添加字段</button>
</div>

<script type="text/javascript">
$(function(){
    $(".del").click(function(){
        var delLink=$(this).attr("link");
        popup.confirm('你真的打算删除【<b>'+$(this).attr("name")+'</b>】吗?','温馨提示',function(action){
            if(action == 'ok'){
                top.window.location.href=delLink;
            }
        });
        return false;
    });
});
</script>
