<div class="contentArea">
    <div class="Item hr">
        <div class="current">修改密码</div>
    </div>
    <form>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
            <tr>
                <th width="80">登录邮箱：</th>
                <td><input name="admin[email]" type="text" readonly class="input" size="30" value="{$admin['email']}" /></td>
            </tr>
            <tr>
                <th width="80">新密码：</th>
                <td><input class="input" name="admin[password]" type="password" size="30" /></td>
            </tr>
            <tr>
                <th width="80">确认密码：</th>
                <td><input class="input" name="admin[cfm_password]" type="password" size="30" /></td>
            </tr>
            <input type="hidden" name="admin[id]" value="{$admin['id']}" />
        </table>
    </form>
    <div class="commonBtnArea" >
        <button class="btn submit">提交</button>
    </div>
</div>

<script type="text/javascript">
$(".submit").click(function(){
    commonAjaxSubmit("{:U('Index/updatePassword')}");
    return false;
});
</script>
