<script type="text/javascript">
function submitForm(action) {
    $(".submit").click(function(){
        commonAjaxSubmit("__URL__/" + action);
        return false;
    });
}

$(function(){
    toggle_type_length("VARCHAR");
    $("#field_type").click(function() {
        toggle_type_length($(this).val());
    });

    $("#check_field_name").click(function(){
        $.getJSON("__URL__/checkFieldName", { field_name: $("#field_name").val(), model_id: "{$model['id']}" }, function(json){
            $("#check_field_name").css("color",json.status==1?"#0f0":"#f00").html(json.info);
        });
    });

    $("#check_field_label").click(function(){
        $.getJSON("__URL__/checkFieldLabel", { field_label: $("#field_label").val(), model_id: "{$model['id']}" }, function(json){
            $("#check_field_label").css("color",json.status==1?"#0f0":"#f00").html(json.info);
        });
    });

    $(".sub_relation_select").hide();
    $("#relation_model").change(function() {
        // 所有可选择的model
        var models = eval('{:json_encode($models)}');
        var selected = $(this).val();

        if (!selected) {
            $(".sub_relation_select").hide();
            return ;
        }

        $("#relation_field option").remove();
        $("#relation_value option").remove();
        for (i = 0; i < models.length; i++) {
            if (models[i].id == selected) {
                for (j = 0; j < models[i].fields.length; j++) {
                    $("#relation_field").append('<option value="' + models[i].fields[j].name +'">' + models[i].fields[j].name + '</option>');
                    $("#relation_value").append('<option value="' + models[i].fields[j].name +'">' + models[i].fields[j].name + '</option>');
                }
            }
        }
        $(".sub_relation_select").show();
    });

    // 表单类型
    var dom = ['.input_text', '.input_password', '.input_select',
               '.input_radio', '.input_checkbox', '.input_textarea',
               '.input_editor', '.input_file', '.input_date',
               '.input_relation_select'];
    var domLength = dom.length;

    toggle_input_field($("#input_type").val());
    $("#input_type").change(function() {
        toggle_input_field($(this).val());
    });

    var current = null;
    $(".input_is_show").change(function() {
        if (1 == $(this).val()) {
            current.show();
        } else {
            current = $("#td_is_show").siblings(":visible");
            current.hide();
        }
    });

    function toggle_type_length(type) {
        if ("TEXT" == type
            || "MEDIUMTEXT" == type
            || "LONGTEXT" == type
            || "DATE" == type
            || "DATETIME" == type) {
            $("#field_precision").hide();
            $("#field_length").hide();
        } else if ("FLOAT" == type || "DOUBLE" == type) {
            $("#field_precision").show();
            $("#field_length").hide();
        } else {
            $("#field_precision").hide();
            $("#field_length").show();
        }
    }

    function toggle_input_field(val) {
        var type = ".input_" + val;
        for (var i = 0; i < domLength; i++) {
            if (type == dom[i]) {
                $(dom[i]).show();
            } else {
                $(dom[i]).hide();
            }
        }

        if (type == dom[0]) {
            $(dom[1]).show();
        } else if (type == dom[2] || type == dom[3] || type == dom[4]) {
            $(dom[2]).show();
        } else if (type == dom[7]) {
            $(dom[7]).show();
        } else if (type == dom[6]) {
            $(dom[6]).show();
        }        
    }
});
</script>
